<!DOCTYPE html>
<html lang="hu">

<head>
  <%- include('../common/head')%>
  <link rel="stylesheet" href="/assets/css/contact.css?v=1.0">
  
</head>


<!-- ===============================================-->
<!--    Főmenü -->
<!-- ===============================================-->
<main class="main" id="top">

  <head>
    <%- include('../common/header')%>
  </head>


  <!-- ===============================================-->
  <!-- SZÖVEG / TARTALOM KIÍRÁSA -->
  <!-- ===============================================-->

  <div id="main">
    <div class="container">
      <header>
        <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">Könnyen pár perc alatt tud Tőlünk érdeklődni a legjobb utazási ajánlatainkról <br>
        </h1>
      </header>


      <section id="content">
        <h1>Lépjen kapcsolatba velünk:</h1>
        <form method="post" action="/upload_message">
          <div class="row gtr-uniform">
            <div class="col-12">
              <input type="text" name="name" id="name" placeholder="Felhasználó név" required />
            </div>
            <div class="col-12">
              <input type="email" name="email" id="email" placeholder="Email cím" required />
            </div>
            <div class="col-12">
              <textarea name="message" id="message" rows="4" placeholder="Üzenet" required></textarea>
            </div>
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Küld" class="primary" /></li>
              </ul>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>
  <!-- ===============================================-->


  <footer>
    <%- include('../common/footer')%>
  </footer>


</main>

<%- include('../common/javascripts')%>


</html>