<!DOCTYPE html>
<html lang="hu">

<head>
  <%- include('../common/head')%>
</head>




<body>

  <!-- ===============================================-->
  <!--    Főmenü -->
  <!-- ===============================================-->
  <main class="main" id="top">

    <head>
      <%- include('../common/header')%>
    </head>


    <!-- ===============================================-->
    <!-- SZÖVEG / TARTALOM KIÍRÁSA -->
    <!-- ===============================================-->
    <section id="places">

      <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">
        4. Kapcsolat menü: legyen egy kapcsolat űrlap, amelynek segítségével üzenetet
        lehet küldeni az oldal tulajdonosa számára. Az elküldött Űrlap adatokat
        mentse le az adatbázisba. (5 pont)

      </h1>

    </section>
    <!-- ===============================================-->


    <footer>
      <%- include('../common/footer')%>
    </footer>


  </main>

  <%- include('../common/javascripts')%>

</body>

</html>