<!DOCTYPE html>
<html lang="hu">



<head>
  <%- include('../common/head')%>
</head>



<body>

  <!-- ===============================================-->
  <!--    Főmenü -->
  <!-- ===============================================-->
  <main class="main" id="top">

    <head>
      <%- include('../common/header')%>
    </head>




    <!-- ===============================================-->
    <!-- SZÖVEG / TARTALOM KIÍRÁSA -->
    <!-- ===============================================-->
    <section id="places">

      <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">
        1. Keressen és alkalmazzon egy ingyenes reszponzív témát az oldalaihoz. (5 pont)
        A dokumentációban írja le, hogy melyik témát választotta.

        Ötleteket a dokumentum végén talál.
        2. Főoldal menü: Az első oldalon mutassa be a céget egy látványos weboldalon
      </h1>

    </section>

    <!-- ============================================-->




    <!-- ===============================================-->
    <!-- UTAZÁSI KATEGÓRIA KÉPCSARNOK -->
    <!-- ===============================================-->
    <section class="pt-5">

      <div class="container">
        <div class="row flex-center mb-5">
          <div class="col-lg-8 text-center">
            <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">Travel categories</h1>
            <hr class="mx-auto text-primary my-4" style="height:3px; width:70px;" />
            <p class="mx-auto">Maecenas et eros non quam ultricies interdum. Proin ac dolor vel neque ullamcorper
              blandit vitae et felis. Morbi ante urna, imperdiet vel neque vitae, porta ullamcorper metus. Quisque
              bibendum venenatis eros sed commodo. Nullam ultrices tortor non diam ullamcorper auctor. In urna tellus,
              auctor sit amet est ut, scelerisque volutpat diam.</p>
          </div>
        </div>
        <div class="row h-100 flex-center">
          <div class="row flex-lg-center">
            <div class="col-md-12">
              <div class="carousel slide" id="carouselCategory" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100">
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/food.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Food</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/backpacking.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Backpacking</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/beaches.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Beaches,coast and island</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/art-culture.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Art and culture</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/wild.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Wildlife and nature</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/hill.jpg" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Hill and nature</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="row h-100">
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/food.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Food</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/backpacking.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Backpacking</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/beaches.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Beaches,coast and island</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/art-culture.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Art and culture</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/wild.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Wildlife and nature</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/hill.jpg" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Hill and nature</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row h-100 offset-lg-2">
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/food.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Food</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/backpacking.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Backpacking</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/beaches.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Beaches,coast and island</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/art-culture.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Art and culture</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-4 col-xl-2 mb-3 hover-top px-2">
                        <div class="card h-100 w-100 text-white"><a class="stretched-link" href="!#"><img
                              class="img-fluid" src="assets/img/gallery/wild.png" alt="" /></a>
                          <div class="card-img-overlay d-flex align-items-end bg-dark-gradient">
                            <h5 class="text-white fs--1">Wildlife and nature</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 position-relative"><a class="carousel-control-prev carousel-icon z-index-2"
                      href="#carouselCategory" role="button" data-bs-slide="prev"><span
                        class="carousel-control-prev-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Previous</span></a><a
                      class="carousel-control-next carousel-icon z-index-2" href="#carouselCategory" role="button"
                      data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Next</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>

    <!-- ============================================-->




    <!-- ===============================================-->
    <!-- KÉPEK GALÉRIA -->
    <!-- ===============================================-->
    <section class="pt-5" id="featuresVideos">

      <div class="container">
        <div class="row flex-center mb-5">
          <div class="col-lg-8 text-center">
            <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">Featured videos</h1>
            <hr class="mx-auto text-primary my-4" style="height:3px; width:70px;" />
            <p class="mx-auto">Aliquam sodales vitae ex tincidunt consectetur. Etiam eleifend malesuada magna, at
              imperdiet justo euismod eu. Aliquam vel imperdet mi, et convallis eros. Duis fermentum fringilla nisl at
              vulputate. Nunc nec lorem faucibus, molestie nisi id, elementum sem. Sed vulputate tempor augue a
              efficitur urna, ultrices eu. Duis vel turpis et arcu.</p>
          </div>
        </div>
        <div class="row flex-center">
          <div class="col-12">
            <div class="carousel slide" id="carouselExampleIndicators" data-bs-touch="false" data-bs-interval="false">
              <div class="row align-items-center">
                <div class="col-12 col-xxl-7 px-2">
                  <div class="carousel-inner">
                    <div class="carousel-item active h-100">
                      <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY">
                        <iframe src="https://www.youtube.com/embed/zLeLttVbFs8"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen=""></iframe>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY">
                        <iframe src="https://www.youtube.com/embed/nUI8f_hvKZw"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen=""></iframe>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY">
                        <iframe src="https://www.youtube.com/embed/xf86EzuLXu0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen=""></iframe>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY">
                        <iframe src="https://www.youtube.com/embed/YkEd_aorIiI"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen=""></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-3 col-xxl-2 pt-3 pt-md-0">
                  <div class="carousel-indicators">
                    <div class="row h-100 w-100">
                      <div class="col-12 px-1">
                        <button class="active" type="button" data-bs-target="#carouselExampleIndicators"
                          data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"><img class="d-block"
                            src="assets/img/gallery/maldives-v.png" alt="..." /></button>
                      </div>
                      <div class="col-12 px-1">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                          aria-label="Slide 2"><img class="d-block" src="assets/img/gallery/tanzania.png"
                            alt="..." /></button>
                      </div>
                      <div class="col-12 px-1">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                          aria-label="Slide 3"><img class="d-block" src="assets/img/gallery/kathmandu-v.png"
                            alt="..." /></button>
                      </div>
                      <div class="col-12 px-1">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                          aria-label="Slide 4"><img class="d-block" src="assets/img/gallery/chaina.png"
                            alt="..." /></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 px-xxl-0">
                  <div class="row">
                    <div class="col-12 col-md-11 col-lg-12 col-xl-10 col-xxl-7 px-xxl-0 ps-lg-0 ps-md-4">
                      <div class="card h-100 py-md-2 active" style="min-height:113px">
                        <div class="card-body d-flex flex-column justify-content-center">
                          <p class="mb-0 fw-semi-bold text-dark"> When go to maldives</p>
                          <p class="card-text"><small class="text-800">0.20</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-11 col-lg-12 col-xl-10 col-xxl-7 px-xxl-0 ps-lg-0 ps-md-4">
                      <div class="card h-100 py-md-2" style="min-height:113px">
                        <div class="card-body d-flex flex-column justify-content-center">
                          <p class="mb-0 fw-semi-bold text-500">Tanzania’s deadly pink lake</p>
                          <p class="card-text"><small class="text-800">05.24</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-11 col-lg-12 col-xl-10 col-xxl-7 px-xxl-0 ps-lg-0 ps-md-4">
                      <div class="card h-100 py-md-2" style="min-height:113px">
                        <div class="card-body d-flex flex-column justify-content-center">
                          <p class="mb-0 fw-semi-bold text-500"> Top things to do in Kathmandu</p>
                          <p class="card-text"><small class="text-800">06.12</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-11 col-lg-12 col-xl-10 col-xxl-7 px-xxl-0 ps-lg-0 ps-md-4">
                      <div class="card h-100 py-md-3" style="min-height:113px">
                        <div class="card-body d-flex flex-column justify-content-center">
                          <p class="mb-0 fw-semi-bold text-500"> Exploring China’s creative capital</p>
                          <p class="card-text"><small class="text-800">0.20 </small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>

    <!-- ============================================-->



    <footer>
      <%- include('../common/footer')%>
    </footer>

  </main>

  <%- include('../common/javascripts')%>

</body>

</html>