<!DOCTYPE html>
<html lang="hu">


<head>
  <%- include('../common/head')%>
</head>



<body>

  <!-- ===============================================-->
  <!--    Főmenü -->
  <!-- ===============================================-->
  <main class="main" id="top">


    <head>
      <%- include('../common/header')%>
    </head>



    <!-- ===============================================-->
    <!-- SZÖVEG / TARTALOM KIÍRÁSA -->
    <!-- ===============================================-->
    <div id="main">
      <div class="container">
        <section id="places">
          <header>
            <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">
              7. OOP-Javascript menü: Az oldalon készítsen egy kis alkalmazást,
              amiben alkalmazza az objektum-orientált JavaScript elveit. (5 pont)<br>
              <br class="d-block d-lg-none d-xl-block" /><br>
              8. Alkalmazását töltse fel és valósítsa meg a megadott Linux-os tárhelyen.
              (Kötelező elem! A működés ez alapján lesz javítva)
            </h1>
          </header>
        </section>
      </div>
    </div>
    <!-- ============================================-->



    <footer>
      <%- include('../common/footer')%>
    </footer>



  </main>

  <%- include('../common/javascripts')%>

</body>

</html>