<!-- ===============================================-->
<!--    Főmenü -->
<!-- ===============================================-->

<nav class="navbar navbar-expand-lg fixed-top py-3 backdrop" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="/"> <img
        class="d-inline-block align-top img-fluid" src="assets/img/gallery/logo-icon.png" alt="" width="50" /><span
        class="text-primary fs-4 ps-2">Napfény Tours</span></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Főoldal</a></li>
        <li class="nav-item"><a class="nav-link text-600" href="/#featuresVideos">Videók</a></li>
        <li class="nav-item"><a class="nav-link text-600" href="/database">Adatbázis</a></li>
        <li class="nav-item"><a class="nav-link text-600" href="/contact">Kapcsolat</a></li>
        <li class="nav-item"><a class="nav-link text-600" href="/messages">Üzenetek</a></li>
        <li class="nav-item"><a class="nav-link text-600" href="/crud">CRUD</a></li>
        <li class="nav-item"><a class="nav-link text-600" href="/oop">OOP</a></li>
      </ul>
      <form class="ps-lg-5">
        <button class="btn btn-lg btn-outline-primary order-0" type="submit">Bejelentkezés</button>
      </form>
    </div>
  </div>
</nav>
<section class="py-0">
  <div class="bg-holder d-none d-md-block"
    style="background-image:url(assets/img/illustrations/hero.png);background-position:right bottom;background-size:contain;">
  </div>
  <!--/.bg-holder-->

  <div class="container position-relative">
    <div class="row align-items-center min-vh-75 my-lg-8">
      <div class="col-md-7 col-lg-6 text-center text-md-start py-8">
        <h1 class="mb-4 display-1 lh-sm">Jusson el <br class="d-block d-lg-none d-xl-block" />álmai helyszineire
        </h1>
        <p class="mt-4 mb-5 fs-1 lh-base">Valósítsa meg velünk álmai utazását, <br class="d-none d-lg-block" />minőség,
          biztonság <br class="d-none d-lg-block" />és kiszámíthatóság. </p>
        <a class="btn btn-lg btn-primary hover-top" href="/" role="button">Regisztráljon </a>
      </div>
    </div>
  </div>
</section>
<!-- ===============================================-->